
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>spring boot shop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <p th:text="#{email.activation.greeting(${user.username})}">Dear</p>
  <p th:text="#{email.activation.text1}">Your  account has been created, please click on the URL below to
    confirm it:</p>
  <p>

    <a  th:href="${baseUrl}+'/user/account/activate?key='+${user.activationKey}"
       >Confirm link</a>
  </p>
  <p>
    <span th:text="#{email.activation.text2}">Le Van Duan, </span>
    <br />
    <em th:text="#{email.signature}">Spring Boot.</em>
  </p>
</body>

</html>